.header {
  display: flex;
  justify-content: space-between;
}

.headerLeft {
  display: flex;
  align-items: center;
}

.paper {
  padding: 10px;
}

.filterButtons {
  display: flex;
  justify-content: space-between;
  padding-top: 5px;
}

.done-task {
  opacity: .5;
}

.errorPage {
  width: 400px;
  position: absolute;
  margin: 0 auto;
  top: 40%;
  left: 40%;
  text-align: center;
  border: 2px solid #261fa8;
  border-radius: 20px;
}

.errorPage a {
  text-decoration: none;
  color: black;
}

.errorSpan {
  color: brown;
  font-weight: 700;
}

.circularProgress {
  position: fixed;
  top: 30%;
  text-align: center;
  width: 100%;
}